@model StackITmvc.Models.Subscription

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubscriptionName" class="control-label"></label>
                <input asp-for="SubscriptionName" class="form-control" />
                <span asp-validation-for="SubscriptionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                    <option value="">-- Choose Company --</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div>

                        @{
                            int count = 0;
                            List<StackITmvc.Models.StackItViewModels.AssignedK_AdminData> k_admins = ViewBag.K_Admins;

                            foreach (var k_admin in k_admins)
                            {
                                if (count++ % 3 == 0)
                                {
                                    @:
                                }
                                @:<div>
                                    <input type="checkbox"
                                           name="selectedK_Admins"
                                           value="@k_admin.K_AdminId"
                                           @(Html.Raw(k_admin.Assigned ? "checked=\"checked\"" : "")) />
                                    @k_admin.K_AdminId @:  @k_admin.K_AdminName
                                @:</div>
                            }
                            @:
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="HardwareId" class="control-label"></label>
                <select asp-for="HardwareId" class="form-control" asp-items="ViewBag.HardwareId">
                    <option value="">-- Choose Hardware --</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div>

                        @{
                            int cnt = 0;
                            List<StackITmvc.Models.StackItViewModels.AssignedJobData> jobs = ViewBag.Jobs;

                            foreach (var job in jobs)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:
                                }
                                @:<div>
                                    <input type="checkbox"
                                           name="selectedJobs"
                                           value="@job.JobId"
                                           @(Html.Raw(job.Assigned ? "checked=\"checked\"" : "")) />
                                    @job.JobId @:  @job.JobName
                                @:</div>
                            }
                            @:
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
